td{
    word-wrap:break-word;
}

.joke-content{
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.flag-icons {
    width: 40px;
}
.flag-row{
    display: inline;
}
li{
    cursor: pointer;
}