<div class="row">
    <div class="col-xs-12 col-md-6">
        
        <form [formGroup]="jokeForm" (ngSubmit)="onSubmitJoke()">
            <div *ngIf="alert" class="alert alert-danger" role="alert">
                Please fill the required fields for submission.
              </div>
            <div class="form-group">
                <label for="jokeCategory">Category</label>
                <select class="form-control" id="jokeCategory" name="jokeCategory" formControlName="jokeCategory">
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
                <div *ngIf="!jokeForm.get('jokeCategory').valid && jokeForm.get('jokeCategory').touched" class="invalid-feedback d-block">
                    Joke category is required!
                  </div>
            </div>
            <div class="form-group">
                <label for="jokeType">Type</label>
                <select class="form-control" id="jokeType" name="jokeType" formControlName="jokeType" (change)="onChangeType($event)">
                    <option value="1" selected>Single</option>
                    <option value="2">Two Part</option>
                </select>
                <div *ngIf="!jokeForm.get('jokeType').valid && jokeForm.get('jokeType').touched" class="invalid-feedback d-block">
                    Joke type is required!
                  </div>
            </div>
            <div class="form-group form-check" >
                <label class="checkbox-inline" *ngFor="let flag of flags; let i=index">
                    <input name="jokeFlags" [checked]="isChecked(flag)" id="jokeFlag-{{i}}" type="checkbox" value="flag.id" (change)="getFlagId($event, flag.id)">{{flag.name}} &nbsp;
                  </label>
                 
            </div>
            <div class="form-group">
                <label for="jokeContent">Content</label>
                <textarea class="form-control" id="jokeContent" rows="3" style="resize: none;" formControlName="jokeContent"></textarea>
                <div *ngIf="!jokeForm.get('jokeContent').valid && jokeForm.get('jokeContent').touched" class="invalid-feedback d-block">
                    Joke Content is required!
                  </div>
            </div>

            <div class="form-group" *ngIf="isJokeDelivery">
                <label for="jokeDelivery">Delivery</label>
                <textarea class="form-control" id="jokeDelivery" rows="3" style="resize: none;" formControlName="jokeDelivery"></textarea>
                <div *ngIf="!jokeForm.get('jokeDelivery').valid && jokeForm.get('jokeDelivery').touched" class="invalid-feedback d-block">
                    This field is required!
                  </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
</div>
